@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

:root {
  --yellow: rgb(249, 242, 203);
  --white: #faf0e6;
  --red: #e88b8b;
  --black:rgb(28, 31, 33);
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Patrick Hand', cursive;
  font-size: 16px;
  margin: 50px;
  padding: 0;
  background-color: var(--yellow);
}

.container {
  max-width: 100%;
  padding: 20px;
}


h1, h2, h3, p {
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--black);
}

h1 {
  font-size: 2em;
  margin-top: 50px;
  margin-bottom: 0px;
}

h2 {
  font-size: .75em;
  margin-top: 0px;
  margin-bottom: 20px;
}

h3 {
  font-size: 1em;
  margin-bottom: 25px;
  margin-top: 0px;
  font-weight: 100;
  font-variant: small-caps;
}

p {
  font-size: 0.8em;
  margin-top: 100px;
  margin-bottom: 10px;
  font-variant: small-caps;
}



.box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.box {
  width: 100px;
  height: 100px;
  inline-size: 90px;
  background-color: var(--white);
  border-radius: 5px;
  margin: 10px;
  display: inline-block; /* display each box as an inline-block element */
  vertical-align: top; /* align each box to the top of the container */
  box-sizing: border-box;
  padding: 10px;
  text-align: left;
  text-align: top;
  font-size: 16px;
}

.button {
  background-color: var(--red); 
  border: none;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  font-variant: small-caps;
}

input[type="answer"] {
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 80%;
  border: .5px solid black;
  font-family: 'Patrick Hand', cursive;
  width: 100px;
  height: 100px;
  background-color: var(--white);
  border-radius: 5px;
  margin: 10px;
  box-sizing: border-box;
  padding: 10px;
  color: var(--black);
  font-size: 16px;
}

input[type="question"] {
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 100%;
  border-width: 0px;
  background-color: var(--yellow);
  height: 20px;
  width: calc(33.33% - 20px); /* set the width of each box to 33.33% of the container width minus 20px for the margins */
  display: inline-block;
  text-align: center;
  font-family: 'Patrick Hand', cursive;
  font-size: 16px;
  padding: 10px;
  color: var(--black);
}
